@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap");

/* GENERICS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  font-weight: 600;
  color: #f5f5f5;
}

/* TITLE */

.title {
    font-size: 64px;
    text-align: center;
}

nav {
  height: 200px;
}

.background__container {
  height: 100%;
  /* background-image: url('https://www.waynesburg.edu/sites/default/files/2021-02/newoverhead_upper.jpg'); */
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #242424), url('https://www.waynesburg.edu/sites/default/files/2021-02/newoverhead_upper.jpg'); /* Add your image URL here */
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid white;
}

.nav__content--container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

.blur__container {
  background-color: #242424c5;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.movie__background--img {
  width: 100%;
  filter: brightness(40%);
  display: flex;
  justify-content: center;
  align-items: end;
  transform: translateY(-600px);
  border-radius: 14px;
  box-shadow: 0px 10px 15px -3px #f5f5f5;
  object-fit: cover;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 100%;
  width: 60%;
}

.logo__img {
  width: 100px;
  z-index: 10;
  filter: blur(none);
  border-radius: 9999px;
  transform: translateY(2px);
}

.burger__icon {
  width: 75px;
}

.logo__text--container {
  display: flex;  
  flex-direction: row;
  align-items: center;  
  justify-content: center;
}

.logo__text {
  margin-left: 16px;
  font-size: 36px;
  color: white;
}

.logo__link {
  display: flex;
  flex-direction: row;  
  justify-self: center;
  align-items: center;
  text-decoration: none;
}

.logo__link:hover .logo__img{
  animation: jump 800ms ease-in-out infinite;
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  } 50% {
    transform: translateY(-10px);
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin-left: 28px;
  font-size: 36px;
  
}

.link--btn {
  /* width: 100%; */
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 9999px;
  text-align: center;
  color: #242424;
  background-color: #ff9a00;
  box-shadow: 0px 0px 10px 5px #ff9a00;
  transition: all 300ms ease-in-out;
}

.link--btn:hover {
  transform: translateY(-10px);
  color: #f5f5f5;
  background-color: #242424; 
  box-shadow: 0px 0px 10px 5px #242424;
}

.no-cursor {
  cursor: not-allowed;
}

/* LANDING */

.temp__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.to-do {
  font-size: 36px;
}

.horizontal-line {
  background-color: #f5f5f5;
  height: 2px;
  width: 80%;
  margin: 16px 0;
}

.item {
  font-size: 18px;
  margin-left: 24px;
}


/* RECENT */

.recents__title {
  font-size: 36px;
  padding: 36px 0;
}

.sub__title {
  font-size: 36px;
}

#main__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 36px;
  max-width: 1000px;
  margin: 0 auto;
}

.rasp__pic {
  width: 50%;
  height: 500px;
}

.pic__event--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.event {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
}

.description {
  line-height: 28px;
}

.article__link {
  color: #3365f0;
}

.link__icon {
  margin-left: 12px;
  width: 20px;
  height: 20px;
}

/* .recent__link {
} */

.click__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding-top: 64px;
}

.recent__link-a {
  text-decoration: underline;
}